.addemp-btn{
font-size: 12px !important;
white-space: normal !important;
background-color: #825AA5 !important;
text-transform: capitalize !important;
font-family: 'Poppins', sans-serif !important;

font-weight: 500;
}